@padding: 1rem;
@pageWidth: 70%;
@fontSize: 1.2rem;

/*Themes*/
@d-bg-block: #2a2a2a;
@d-bg-el: #484848;
@l-bg: white;
@l-text: black;
@d-text: white;
@niceBlue: #5e77ff;

.admin {

  padding-top: 10vh;
}

.catalog {
  font-size: @fontSize;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/backgr-light.png);
  .catalog-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: transparent;
    padding-top: 10vh;

    .list {
      width: @pageWidth;
      z-index: 5;
      .list-wrapper {
        width: 100%;
        height: 80%;
        background-color: @l-bg;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: @padding*3 @padding*2;
        .el {
          width: 80%;
          display: flex;
          flex-flow: row;
          margin-bottom: @padding;
          font-size: 1.3rem;
          .id,
          .name,
          .price,
          .button {
            padding: @padding / 2;
            display: flex;
            justify-content: center;
          }
          .id {
            width: 10%;
          }
          .name {
            width: 40%;
          }
          .price {
            width: 30%;
            color: @niceBlue;
          }
          .button {
            width: 20%;
            display: flex;
            justify-content: center;
            img {
              width: 1.4rem;
              height: 0.7rem;
            }
          }
        }
        .el:hover {
          cursor: pointer;
          background-color: #ededed;
        }

        .el.header {
          background-color: transparent;
          cursor: auto;
          .name,
          .price {
            > img {
              width: 1.8rem;
              height: 1.8rem;
            }
          }
        }
        .el.header:hover {
          background-color: transparent;
        }
      }
    }
  }
}

.catalog.d-theme {
  background-image: url(../img/backgr-dark.jpg);

  .list-wrapper {
    background-color: @d-bg-block;
    .el {
      color: @d-text;
      background-color: @d-bg-el;
    }
    .el.header {
      background-color: inherit;
      color: @d-text;
    }
    .el:hover {
      background-color: #333;
    }
  }
}

.cabinet {
  font-size: @fontSize;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/backgr-light.png);
  .cabinet-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: transparent;
    padding-top: 10vh;

    .page {
      width: @pageWidth;
      z-index: 5;
      .page-wrapper {
        width: 100%;
        display: flex;
        flex-flow: row;
        .sidebar {
          margin-right: @padding;
          width: 30% - @padding*2;
          height: 300px;
          background-color: @l-bg;
          .sidebar-wrapper {
            display: flex;
            flex-flow: column;
            align-items: center;
            .avatar,
            .address,
            .balance,
            .separator {
              width: 100%;
              display: flex;
              justify-content: center;
            }

            .avatar {
              display: flex;
              justify-content: center;
              > div {
                width: 7rem;
                height: 7rem;
                border-radius: 3.5rem;
              }
            }
            .address {
              padding: @padding 0;
            }
            .separator {
              border-top: 2px dashed grey;
            }
            .balance {
              padding: @padding 0;
              display: flex;
              flex-flow: column;
              align-items: center;
              .icon {
                width: 2rem;
                height: 2rem;
              }
              .number {
                padding: @padding / 2 0;
              }
            }
          }
        }

        .list {
          padding-top: @padding*2;
          padding-bottom: @padding*2;
          margin-left: @padding;
          width: 70% - @padding*2;

          background-color: white;
          .list-wrapper {
            width: 100%;
            display: flex;
            flex-flow: column;

            .el {
              margin-bottom: @padding;
              width: 100%;
              display: flex;
              flex-flow: row;
              .project {
                display: flex;
                flex-flow: row;
                align-items: center;
                width: 60% - @padding;
                margin-right: @padding / 2;
                .id {
                  display: flex;
                  justify-content: center;
                  width: 30%;
                }
                .name {
                  width: 70%;
                }
              }
              .time {
                color: @niceBlue;
                font-size: 2rem;
                width: 40% - @padding;
                margin-left: @padding / 2;
                .time-wrapper {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                }
              }
            }

            .el.header {
              .header-icon > img {
                width: 2rem;
                height: 2rem;
              }

              .project {
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}

.bg {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
}
.bg:nth-of-type(1) {
  background-image: url(../img/f1.png);
  background-position: 50% 100%;
  background-size: 100%;
  z-index: 3;
}
.bg:nth-of-type(2) {
  background-image: url(../img/f2.png);
  background-position: 50% 90%;
  background-size: 110%;
  z-index: 2;
}
.bg:nth-of-type(3) {
  background-image: url(../img/f3.png);
  background-position: 50% 80%;
  background-size: 110%;
  z-index: 1;
}

.tile {
  padding: @padding;
  border-radius: @padding;
  box-shadow: 10px 5px 40px rgba(150, 150, 150, 0.4);
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  .background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    z-index: 12;
    width: @pageWidth;
    background-color: @l-bg;
    display: flex;
    align-items: center;
    height: 80vh;
    .modal-content-wrapper {
      width: 100%;

      display: flex;
      flex-flow: column;
      align-items: center;

      .name,
      .hash,
      .price,
      .description,
      .button {
        padding: @padding / 2 0;
      }

      .name {
        h2 {
          text-align: center;
        }
        padding: 0 @padding;
      }
      .hash {
        span {
          width: 100%;
          border-top: 2px dashed grey;
        }
      }
      .price {
        display: flex;
        flex-flow: row;
        align-items: center;
        .icon,
        .number {
          padding: 0 @padding;
        }
        .icon {
          img {
            width: 2rem;
            height: 2rem;
          }
        }
      }
      .description {
        display: flex;
        flex-flow: column;
        align-items: center;
        h3 {
          text-align: center;
        }
      }
      .button {
        button {
          font-size: 1.5rem;
          background-color: @niceBlue;
          color: @d-text;
          border: none;
          border-radius: @padding;
          padding: @padding / 2 @padding;
        }
        button:hover {
          cursor: pointer;
          background-color: @niceBlue + #111;
        }
      }
    }
  }
}
.background:hover {
  cursor: pointer;
}

header {
  background-image: url('../img/backgr-light.png');
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  .header-wrapper {
    padding: @padding 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: @pageWidth;
    .left {
      div.logo {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: grey;
      }
    }
    .right {
      .nav-buttons {
        display: flex;
        flex-flow: row;
        justify-content: center;
        .link-to-catalog,
        .link-to-cabinet {
          padding-left: @padding*2;
          .icon {
            width: 3rem;
            height: 3rem;
          }
        }
        .link-to-catalog {
        }
        .link-to-cabinet {
        }
      }
    }
  }
}

header.d-theme {
  background-image: url('../img/backgr-dark.jpg');
}

.light-toggler-wrapper {
  z-index: 5;
  position: fixed;
  bottom: 10vh;
  right: 5vw;

  button {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
  }
  button:hover {
    cursor: pointer;
  }
  .light-toggler.l-theme {
    background-color: black;
  }
  .light-toggler.d-theme {
    border: 2px solid black;
    background-color: white;
  }
}
