@padding: 1rem;
@pageWidth: 70%;
@fontSize: 1.2rem;

/*Themes*/
@bg-col: #222229;
@el-bg-col: #323036;
@niceBlue: #5e77ff;
@id-col: #a1bcd3;

.admin {
  font-size: @fontSize;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/backgr.jpg);
  position: relative;
  background-color: transparent;
  padding-top: 10vh;
}

.catalog {
  font-size: @fontSize;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/backgr.jpg);
  .catalog-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: transparent;
    padding-top: 10vh;

    .list {
      width: @pageWidth;
      z-index: 5;
      .list-wrapper {
        width: 100%;
        height: 80%;
        background-color: @bg-col;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: @padding*3 @padding*2;
        .el {
          padding: @padding/2;
          width: 90%;
          
          margin-bottom: @padding;
          font-size: 1.3rem;
          background-color: @el-bg-col;
          
          .el-wrapper{
            display: flex;
            flex-flow: row;
            width: 100%;
            .id,
            .name,
            .price,
            .button {
              padding: @padding / 2;
              display: flex;
              justify-content: center;
            }
            .id {
              width: 5%;
              span{
                color: @id-col;
              }

            }
            .name {
              width: 55%;
              display: flex;
              justify-content: flex-start;
            }
            .price {
              width: 25%;
              display: flex;
              justify-content: flex-end;
              font-weight: 700;
            }
            .button {
              width: 20%;
              align-items: center;
              display: flex;
              justify-content: center;
              svg {
                width: 1.4rem;
                height: 0.7rem;
              }
            }
          }
          .modal-placeholder{
            width: 100%;
          }

        }
        .el:hover {
          cursor: pointer;
          background-color: @el-bg-col + #111;
        }

        .el.header {
          background-color: transparent;
          cursor: auto;

          .name,
          .price {
            display: flex;
            img {
              width: 1.8rem;
              height: 1.8rem;
            }
            span{
              font-weight: 500;
              color: @id-col;
              font-size: 1.2rem;
              padding: @padding/3;
            }
          }
          .name{
            .name-wrapper{
              display: flex;
              flex-flow: column;
              align-items: center;
            }
          }
          .price{
            .price-wrapper{
              display: flex;
              flex-flow: column;
              align-items: center;
              
            }
          }
        }
        .el.header:hover {
          background-color: transparent;
        }
      }
    }

  }
}

.cabinet {
  font-size: @fontSize;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/backgr.jpg);
  .cabinet-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: transparent;
    padding-top: 10vh;

    .page {
      width: @pageWidth;
      z-index: 5;
      .page-wrapper {
        width: 100%;
        display: flex;
        flex-flow: row;

        .sidebar {
          margin-right: @padding;
          width: 30% - @padding*2;
          
          background-color: @bg-col;
          .sidebar-wrapper {
            display: flex;
            flex-flow: column;
            align-items: center;
            .avatar,
            .address,
            .balance,
            .separator {
              width: 100%;
              display: flex;
              justify-content: center;
            }

            .avatar {
              display: flex;
              justify-content: center;
              > div {
                width: 7rem;
                height: 7rem;
                border-radius: 3.5rem;
                background-image: url(../img/pers.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
              }
            }
            .address {
              padding: @padding 0;
              span{
                width: 100%;
                word-wrap: break-word;
                text-align: center;
              }
            }
            .separator {
              border-top: 2px dashed grey;
            }
            .balance {
              padding: @padding 0;
              display: flex;
              flex-flow: column;
              align-items: center;
              .icon {
                width: 2rem;
                height: 2rem;
              }
              .number {
                font-size: 3rem;
                padding: @padding / 2 0;
              }
            }
          }
        }

        .list {
          padding-top: @padding*2;
          padding-bottom: @padding*2;
          margin-left: @padding;
          width: 70% - @padding*2;
          background-color: @bg-col;

          .list-wrapper {
            width: 100%;
            display: flex;
            flex-flow: column;

            .el {
              background-color: @el-bg-col;
              margin-bottom: @padding;
              width: 100%;
               
              .el-wrapper{
                display: flex;
                flex-flow: row;
                .name{
                  width: 50%;
                  .proj-name{
                    font-size: 1.4rem;
                  }
                }
                .time{
                  width: 50%;
                  display: flex;
                  flex-flow: column;
                  
                  .label{
                    display: flex;
                    flex-flow: row;
                    width: 100%;
                    padding: @padding/2;
                    .icon{
                      width: 1rem;
                      height: 1rem;
                      background-image: url(../img/clock.png);
                      background-size: 100%;
                      background-position: center;
                      background-repeat: no-repeat;

                    }
                    span{
                      font-size: 1rem;
                      padding: 0 @padding/2;
                    }
                  }
                  .digits{
                    width: 100%;
                    display: flex;
                    flex-flow: row;
                    .block{
                      width: 25%;
                      padding: @padding/4;
                      .panel{
                        background-color: #232230;
                        padding: @padding;
                        width: 100%;
                        text-align: center;
                        border-radius: @padding/4;
                        font-weight: 700;
                        color: @niceBlue;
                      }
                      
                      .panel-label{
                        
                        width: 100%;
                        text-align: center;
                        color: @id-col;
                        font-size: 0.8rem;
                        padding: @padding/4;
                      }
                    }
                    .block:last-child{
                      .panel{
                        color: red;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.bg {
  background-size: cover;
  background-image: url(../img/grid.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
}


.tile {
  padding: @padding;
  border-radius: @padding;
}

.modal {
  border-top: 2px dashed grey;
  padding: @padding;
  .modal-wrapper{
    display: flex;
    flex-flow: row;
    .descr{
      width: 60%;
    }
    .button{
      display: flex;
      justify-content: center;
      width: 40%;
      button{
        z-index: 6;
        padding: @padding/2 @padding*2;
        font-weight: 700;
        background-color: @niceBlue;
        border: none;
        border-radius: @padding/2;
        font-size: 1.2rem;
      }
      button:hover{
        cursor: pointer;
        background-color: @niceBlue + #111;
      }
    }
  }

}


header {
  background-color: transparent;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  .header-wrapper {
    padding: @padding 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: @pageWidth;
    .left {
      div.logo {
        width: 5rem;
        height: 5rem;
        background-image: url(../img/logo.png);
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
    .right {
      .nav-buttons {
        display: flex;
        flex-flow: row;
        justify-content: center;
        .link-to-catalog,
        .link-to-cabinet {
          padding-left: @padding*2;
          .icon {
            width: 3rem;
            height: 3rem;
          }
        }
      }
    }
  }
}
